body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

.contenedor-imagenes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1); /* Fondo sombreado */
    max-width: 100px;
    margin: 10px;
}

.cont-img:hover {
    background-color: white;
    color: #101110;
    border: 5px solid #0b0c0b;
}

.contenedor-imagenes img {
    cursor: pointer;
    max-width: 200px; /* Establecemos el ancho máximo de las imágenes */
    transition: box-shadow 0.3s ease; /* Agregamos transición para suavizar el efecto */
}

/* Agregamos una clase para aplicar el sombreado cuando la imagen está seleccionada */
.contenedor-imagenes img.seleccionada {
    box-shadow: 0 0 10px 5px rgba(123, 20, 20, 0.5); /* Establecemos el sombreado */
}

/* Agregamos fondo sombreado al contenedor cuando la imagen está seleccionada */
.contenedor-imagenes.seleccionada {
    background-color: rgba(123, 20, 20, 0.2); /* Color de fondo con transparencia */
}

.resultado {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1); /* Fondo sombreado */
}

#imagenComputadora {
    max-width: 100px;
    margin: 10px;
}

#resultadoPartida {
    font-weight: bold;
    color: #333;
}
